* {
  box-sizing: border-box; /* Garante que o tamanho total inclua a borda */
}

.titles {
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  font-size: 20px;
}

.days p {
  color: black;
  font-weight: bold;
  margin-top: 0px;
}

.periodForm {
  display: flex;
}

h2 {
  margin-top: 20px;
}

.lpTitle {
  margin-bottom: 0;
}

h1,
h2,
p {
  color: black;
}

.formContainer {
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  /* background-color: aqua; */
  margin-bottom: -20px;
}

.inputField p {
  margin-bottom: 0px;
}

input {
  width: 100%;
}

.button,
.addButton,
.eraseButton,
.addLP {
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.remove,
.saveChanges {
  background-color: red;
  width: 20%;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.endButtons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.button:hover {
  background-color: darkred;
}

.days {
  display: flex;
  justify-content: space-between;
}

.close,
.changes {
  background-color: red;
  width: 20%;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lp {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  padding: 10px;
  border-radius: 5px;
  gap: 15px; /* Espaçamento entre a data e o botão */
  box-sizing: border-box;
  transition: border 0.3s ease, background-color 0.3s ease;
  border: 2px solid transparent;
  padding: 0;
  margin-bottom: 10px;
}

.lp p {
  margin: 0;
  margin-left: 10px;
  flex-grow: 1; /* Faz com que o texto ocupe o máximo de espaço possível */
}

.eraseButton {
  margin-top: 8px;
  margin-right: 10px;
  background-color: red;
  width: 20%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lp:hover {
  border: 2px solid #ff7458; /* Define a cor e espessura da borda ao passar o mouse */
  background-color: #fff; /* Adiciona um fundo leve para destacar */
  cursor: pointer;
}

.p {
  margin-bottom: -20px;
}
