.titles {
  color: black;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.personalDate {
  display: flex;
  gap: 10px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal {
  z-index: 1050; /* Aumenta o z-index para garantir que o modal fique acima de outros elementos */
}

.modalOverlay {
  z-index: 1040; /* Para garantir que a sobreposição também esteja acima da navbar */
}

.days p {
  color: black;
  font-weight: bold;
  margin-top: 0px;
}

.periodForm {
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
  text-align: center;
}

.formContainer {
  margin-bottom: 20px;
}

.inputFerias {
  display: flex;
  gap: 10px;
}

.inputFieldFerias {
  width: 100%;
  gap: 30px;
}

input {
  width: 100%;
}

.button {
  background-color: red;
  width: 100%;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.remove {
  background-color: red;
  width: 20%;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.endButtons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
}

.button:hover {
  background-color: darkred;
}

.days {
  display: flex;
  justify-content: space-between;
}

.close,
.changes {
  background-color: red;
  width: 20%;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
